@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP'); */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Hachi+Maru+Pop&family=Jersey+20+Charted&family=M+PLUS+1p&display=swap');

/*全体に共通する設定を記述*/

body {
	font-family: "Hachi Maru Pop", cursive;
	font-weight: 400;
	font-style: normal;
	background-color: white;
	min-height: 100vh;	/*画面の高さに対して100%の高さを持つように設定 */
	margin: 0 auto;	/*上下の余白は0、左右の余白を自動的に設定 */
	max-width: 80%;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

header {
	background-color: rgba(34, 34, 34, 0.9);
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	justify-content: center;
}

.heading {
	color: rgb(255, 255, 255);
	margin: 0;
}

h2 {
	color: #000;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	justify-content: center;
}

ul {
	color: rgb(255, 255, 255);
	list-style-type: none;
	padding: 0;
	display: flex;
	margin: 0;
	border-top: 1px solid white;
}

/* 各要素の設定 */
ul li {
	flex: 1;
	border-right: 1px solid white;
}

/*最後の要素に対する設定 */
ul li:last-child {
	border-right: none;
}

/*各要素のaタグに対する操作*/
ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

/*リストの要素のアイコンに対する設定*/
.icon {
	vertical-align: middle;
	width: 2em;
	height: 2em;
}

/*マウスをホバーした際の設定 */
li a:hover {
	background-color: lightgray;
}

main {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 40px 30px;
	margin: 0 auto;
	width: 90%;
}

/*見出しに関する設定*/
.headword {
	font-weight: bold;
	text-align: center;
	position: relative;
	padding: 0 55px;
}

a {
	color: black;
	text-decoration: none;
}

footer {
	background-color: rgba(34, 34, 34, 0.9);
}

/*トップに戻るボタンに関する設定*/
.back_button {
	float: right;
	margin-left: 100%;
	padding: 8px 16px;
	border: none;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

/* モバイル向けのスタイル */
@media only screen and (max-width: 480px) {
	body {
		zoom: 80%;
		max-width: none;
		font-size: 14px;
	}

	main {
		/* パディングを調整 */
		padding: 20px 10px;
	}

	.headword {
		/* 見出しのフォントサイズを調整 */
		font-size: 30px;
	}
}

/* タブレット向けのスタイル */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
	body {
		zoom: 80%;
		font-size: 16px;
	}
}

/* デスクトップ向けのスタイル */
@media only screen and (min-width: 1025px) {
	body {
		zoom: 80%;
		font-size: 18px;
	}
}

/* 4K向けのスタイル */
@media only screen and (min-width: 2561px) {
	body {
		zoom: 120%;
		font-size: 18px;
	}
}