/*
======================================================================
Project Name    : 避けゲー
Creation Date   : 2024年5月
 
Copyright © 2024 大阪ヒューマンネット All Rights Reserved.
 
This source code or any portion thereof must not be  
reproduced or used in any manner whatsoever.
======================================================================
*/

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#game-container {
  position: relative;
  width: 800px;
  height: 200px;
  border: 2px solid #000;
}